Repository Rahix/profirust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-check-rp, cargo-test, cargo-test-gsd

cargo-fmt:
  name: Format all rust sources
  language: system
  entry: cargo fmt
  pass_filenames: false

cargo-check:
  name: Check all crates in the workspace
  language: system
  entry: cargo check --workspace --examples --tests --bins
  pass_filenames: false

cargo-check-rp:
  name: Check rp-pico example
  language: system
  entry: sh -c 'cd examples/rp-pico; cargo check'
  pass_filenames: false

cargo-test:
  name: Run profirust testsuite
  language: system
  entry: cargo test
  pass_filenames: false

cargo-test-gsd:
  name: Run gsd-parser testsuite
  language: system
  entry: cargo test -p gsd-parser
  pass_filenames: false

gsd-parser: tests: Check that invalid set_prm() does not panic
  gsd-parser/tests/regress.rs
Due: cargo-fmt, cargo-test-gsd

Update CHANGELOG
  CHANGELOG.md
Due: none

gsd-parser: Factor out some common code im prm setting logic
  gsd-parser/src/lib.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: tests: Add test for bad slot definition error
  gsd-parser/tests/parser_panic.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Implement warning collection
  gsd-parser/src/parser.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: tests: Add tests for parser warnings
  gsd-parser/tests/parser_warnings.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Add parser function which emits warnings
  gsd-parser/src/lib.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: tests: Add regression tests for GSD parsing warnings
  gsd-parser/tests/data/mock.gsd
  gsd-parser/tests/regress.rs
  gsd-parser/tests/snapshots/regress__mock-WARNINGS.snap
  gsd-parser/tests/snapshots/regress__mock.snap
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Add warnings about incorrect compact stations
  gsd-parser/src/parser.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: tests: Add tests for compact station warnings
  gsd-parser/tests/parser_warnings.rs
Due: cargo-fmt, cargo-test-gsd

gsdtool: Print GSD file warnings in config-wizard
  gsdtool/src/main.rs
Due: cargo-fmt

gsd-parser: Clean up some overly verbose expect() calls
  gsd-parser/src/parser.rs
Due: cargo-fmt, cargo-test-gsd

fdl: active: Ensure GAP never scans own address
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: tests: Add test for discovering direct neighbor stations
  src/fdl/test_active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Fix GAP polling when NS==TS
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: tests: Add test for single active station GAP polling
  src/fdl/test_active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Factor out transmission of gap poll
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Factor out receival of gap poll response
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: tests: Fix slot_time_timing() assumptions about active behavior
  src/fdl/test_active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Scan full GAP immediately after claiming token
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: tests: Add test to ensure immediate GAP scan after claiming token
  src/fdl/test_active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Immediately pass token after claim-token GAP scan
  src/fdl/active.rs
  src/fdl/test_active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Use enum for do_gap to improve readability
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: Use enum for high_prio_only to improve readability
  src/dp/master.rs
  src/dp/peripheral.rs
  src/dp/scan.rs
  src/fdl/active.rs
  src/fdl/live_list.rs
  src/fdl/mod.rs
Due: cargo-fmt, cargo-check, cargo-test

Path conditions:
  cargo-fmt: any of: ^.*\.rs$
  cargo-check: any of: ^(src|tests)/.*\.rs$
  cargo-check-rp: any of: ^examples/rp-pico/.*\.rs$
  cargo-test: any of: ^(src|tests)/.*\.rs$
  cargo-test-gsd: any of: ^gsd-parser/.*\.rs$
