Repository Rahix/profirust: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-check-rp, cargo-test, cargo-test-gsd

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: cargo-fmt
      name: Format all rust sources
      language: system
      entry: cargo fmt
      files: ^.*\.rs$
      pass_filenames: false
    - id: cargo-check
      name: Check all crates in the workspace
      language: system
      entry: cargo check --workspace --examples --tests --bins
      files: ^(src|tests)/.*\.rs$
      pass_filenames: false
    - id: cargo-check-rp
      name: Check rp-pico example
      language: system
      entry: sh -c 'cd examples/rp-pico; cargo check'
      files: ^examples/rp-pico/.*\.rs$
      pass_filenames: false
    - id: cargo-test
      name: Run profirust testsuite
      language: system
      entry: cargo test
      files: ^(src|tests)/.*\.rs$
      pass_filenames: false
    - id: cargo-test-gsd
      name: Run gsd-parser testsuite
      language: system
      entry: cargo test -p gsd-parser
      files: ^gsd-parser/.*\.rs$
      pass_filenames: false

examples: rp-pico: Showcase remote I/O instead of encoder
  examples/rp-pico/src/main.rs
Due: cargo-fmt, cargo-check-rp

gsd-parser: Parse module Info_Text
  gsd-parser/src/lib.rs
  gsd-parser/src/parser.rs
  gsd-parser/tests/snapshots/regress__mock.snap
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Properly parse long-lines in strings
  gsd-parser/src/parser.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Future-prove Debug implementation for Slot
  gsd-parser/src/lib.rs
Due: cargo-fmt, cargo-test-gsd

Update CHANGELOG
  CHANGELOG.md
Due: none

dp: diagnostics: Use test-logger to catch warnings
  src/dp/diagnostics.rs
Due: cargo-fmt, cargo-check, cargo-test

gsd-parser: Fix not accepting escaped newlines as whitespace
  gsd-parser/src/gsd.pest
  gsd-parser/tests/data/mock.gsd
Due: none

gsd-parser: Allow any text before the profibus definitions
  gsd-parser/src/gsd.pest
Due: none

Prepare 0.6.0
  CHANGELOG.md
  Cargo.toml
  gsd-parser/Cargo.toml
  gsdtool/Cargo.toml
Due: none

examples: rp-pico: Fix dependency version error
  examples/rp-pico/Cargo.lock
  examples/rp-pico/Cargo.toml
Due: none

examples: Make ET200B example slightly more pleasant
  examples/remote-io-et200b.rs
Due: cargo-fmt

fdl: telegram: Add custom error type for function code parsing
  src/fdl/telegram.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: parameters: Use div_ceil() instead of manually implement the same
  src/fdl/parameters.rs
Due: cargo-fmt, cargo-check, cargo-test

dp: Fix relevant clippy lints
  src/dp/diagnostics.rs
  src/dp/peripheral.rs
  src/dp/scan.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: Fix relevant clippy lints
  src/fdl/active.rs
  src/fdl/live_list.rs
  src/fdl/mod.rs
  src/fdl/telegram.rs
  src/fdl/token_ring.rs
Due: cargo-fmt, cargo-check, cargo-test

phy: Fix relevant clippy lints
  src/phy/serial.rs
  src/phy/simulator.rs
Due: cargo-fmt, cargo-check, cargo-test

Globally allow certain clippy lints
  src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test

fdl: active: Allow certain clippy lints
  src/fdl/active.rs
Due: cargo-fmt, cargo-check, cargo-test

gsd-parser: Remove and deny all remaining as casts
  gsd-parser/src/lib.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Fix relevant clippy lints
  gsd-parser/src/lib.rs
  gsd-parser/src/parser.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Mark unclean unwrap() using expect("TODO")
  gsd-parser/src/lib.rs
  gsd-parser/src/parser.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: Make write_value_to_slice() fallible
  gsd-parser/src/lib.rs
  gsd-parser/tests/regress.rs
Due: cargo-fmt, cargo-test-gsd

gsdtool: Catch new results from PrmBuilder
  gsdtool/src/main.rs
Due: cargo-fmt

gsd-parser: Add proper error types for all possible failures during user_prm setting
  gsd-parser/src/lib.rs
Due: cargo-fmt, cargo-test-gsd

gsd-parser: tests: Check that invalid set_prm() does not panic
  gsd-parser/tests/regress.rs
Due: cargo-fmt, cargo-test-gsd
